<body style="background-image: url(../static/images/banner-bg.png);">
    <div style="background-color: whitesmoke; margin: 100px;padding: 20px; border-radius: 8px;">
    <h1 style="position: relative;">{{ title }}</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3></h3>
            <form name="login" action="" method="POST">
                {{  form.hidden_tag()  }}
                <p>
                {{ form.email.label }}<br>
                {{ form.email(size=50)}}
                </p>
                <p> 
                {{  form.password.label  }}<br>
                {{  form.password(size=10)  }}
                </p>
                <p>
                {{  form.remember_me }} 
                {{  form.remember_me.label }}
                <p>
                {{  form.submit }}
                </p>
            </form>
        </div>
    </div>
    </div>
    </body>
       