<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://cdn.ckeditor.com/4.6.2/standard-all/ckeditor.js"></script>
    <link rel="stylesheet" href="../../../css/info.css">
    <title>Edit Info</title>
</head>

<body>
    <div class="container">
        <h2>Edit Info</h2>

        <form method="POST" action="/updateuser/{{ data_warga[0].0 }}" >
        <input name='id' value="{{ data_warga[0].0 }}">
        <input name='nama' value="{{data_warga[0].1}}">
        <input name='alamat'value="{{data_warga[0].2}}">
        <input name='kontak'value="{{data_warga[0].3}}">
        <input name='password'value="{{data_warga[0].4}}">
        <input name='email'value="{{data_warga[0].5}}">
        <button type="submit">Simpan Perubahan</button>
        </form>
    </div>
</body>
<script>
CKEDITOR.replace('deskripsi', {
    height: 300,
    filebrowserUploadUrl: "upload.php"
});
</script>