{% include 'admin/nav.html' %}
{% block content %}
<div class="container">
    <h1>Add book</h1>
    <form method="POST" action="/books/create">
        <input type="text" name="title">
        <input type="submit" value="Add">
    </form>
    <div class="starter-template">
        <h1>Daftar Admin</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>No</td>
                    <td>email</td>
                    <td>username</td>
                    <td>password</td>
                    <td>aksi</td>
                </tr>
            </thead>
            <tbody>
                {% for admin in data_admin %}
            <tr>
                <td>{{ admin.id }}</td>
                <td>{{ admin.email }}</td>
                <td>{{ admin.name }}</td>
                <td>{{ admin.password }}</td>
                <td><a href='/admin/{{ admin.id }}/edit'>Edit | </td></a>
                <td><a onclick="confirm()" href='/admin/delete/{{admin.id}}'> Delete</a>
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script >
    function confirm(){
        Swal.fire({
  title: 'Apakah Anda Yakin?',
  text: "Anda Tidak bisa mengulang ini!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete!'
}).then((result) => {
  if (result.isConfirmed) {
    Swal.fire(
      'Deleted!',
      'Admin has been deleted.',
      'success'
    )
  }
})}
</script>
<!-- /.container -->
{% endblock %}